*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(128, 122, 122);
}
section{
   
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
}
section h1 {
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;

}
form input{
    margin: 10px 0;
    padding: 11px 10px;
    outline: 0;
    border: 1px solid #000 ;
    border-radius: 6px;
    
}
form input[type='submit'] {
    background-color: green;
    border: 0;
    color: aliceblue;
    margin-top: 15px;
    padding: 12px 0;
}
